{% extends 'HomeApp/base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<div style="color: whitesmoke; text-align: center;">
<h1 style="font-weight: bolder;">Introduce una nueva contraseña</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>
</div>

{% else %}

<div style="color: whitesmoke; text-align: center;">
<p>El link de cambio de contraseña no es válido, quizás porque ya ha sido usado. Por favor, solicita un nuevo cambio de contraseña.</p>
</div>

{% endif %}
{% endblock %}